@import "scss/variables";
@import "scss/mixins";

.html-select {
  display: none;
}
.custom-select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
}
.custom-select {
  padding: 20px 32px 20px 16px;
  border-radius: 16px;
  width: 100%;
  border: 1px solid #666;
  height: 80px;
  outline: none;
  background: inherit;
  position: relative;
  cursor: pointer;
  color: $borderColor;
  @include fz18-lh27-fw400;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.custom-select__trigger {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &--invalid {
    border: 1px solid $errorColor;
  }

  &--valid {
    border: 1px solid $validInput;
  }
}
.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  transition: all 0.2s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  padding: 16px 23px;
  overflow-y: auto;
  border-radius: 16px;
}
.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  margin-top: 1px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.custom-option {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px 8px;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 16px;
  color: $titleColor;
  height: 56px;
  @include fz25-lh37-fw400-grotesk;
  padding-left: 68px;
}

.option-container {
  border: solid white 0.1px;
}

.option-container:hover {
  .custom-option {
    cursor: pointer;
    background-color: $backSelect;
  }
}

.custom-option.selected {
  background-color: $backSelect;
}

.arrow {
  position: relative;
  background-image: url("../../imgs/arrow.svg");
  width: 24px;
  height: 24px;
  transform: scale(1.5);
  transition: all 0.2s;
}

.open .arrow {
  transform: rotate(180deg) scale(1.5);
}