.CartQuantity {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__icon {
    position: static;
    border: none;
    background-color: inherit;
    transition: transform 0.1s cubic-bezier(0.25,0.72,0.51,0.96);

    &:hover {
      transform: scale(1.2);
    }

    &--minus {
      background-image: url("../../imgs/minus.svg");
    }

    &--plus {
      background-image: url("../../imgs/plus.svg");
    }
  }

  &__number {
    text-align: center;
    display: inline-block;
    width: 20px;
    height: 20px;
  }
}