@import "scss/variables";

.Welcome {
  &__imgContainer {
    align-self: flex-start;
  }

  &__img {
    width: 100%;
    height: 100%;
   
  }

  &__title {
    color: $titleColor;
    font-size: 45px;
    margin-bottom: 40px;
  }

  &__text {
    font-size: 25px;
    font-weight: 500;
    line-height: 37px;
    margin-bottom: 40px;
  }

  &__description {
    margin-top: 200px;
    width: 607px;
  }
}