@import "scss/variables";
@import "scss/mixins";

.Welcome {
  padding-top: 80px;
  &__imgContainer {
    align-self: flex-start;
  }

  &__img {
    width: 100%;
    height: 100%;
   
  }

  &__title {
    color: $titleColor;
    font-size: 45px;
    margin-bottom: 40px;
  }

  &__text {
    @include fz25-lh37-fw400;
    margin-bottom: 40px;
  }

  &__description {
    margin-top: 80px;
    width: 607px;
  }
}