@import 'scss/variables';

.button {
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  font-size: 19px;
  line-height: 27px;
  font-weight: 500;
  width: 100%;
  height: 62px;
  color: $buttonColor;
  background-color: $buttonBack;

  &:hover {
    color: $logoColor;
    background-color: $headerBackground;
  }
}