@import "scss/variables";
@import "scss/mixins";

.checkRadioField {
  cursor: pointer;
  @include fz18-lh27-fw400;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 10px;
  align-items: center;

  &__input  {
    cursor: pointer;
    appearance: none;
    @include wh-20-20;
    border: 2px solid $logoColor;
    display: grid;
    place-content: center;

    &::before {
      content: "";
      @include wh-20-20;
      background-image: url("../../imgs/checked.svg");
      background-repeat: no-repeat;
      background-position: center;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
    }

    &:checked::before {
      transform: scale(1);
    }

    &[type="radio"] {
      border-radius: 50%;

      &::before {
        border-radius: 50%;
        background-color: #000;
      }
    }
  }
}