@import "scss/variables";
@import "scss/mixins";

.page {
  min-height: calc(100vh - 225px - 116px);

  &__section {
    margin-bottom: 150px;
  }

  &__title {
    text-align: center;
    @include fz45-lh67-fw300-grotesk;
    margin-bottom: 56px;
    color: $titleColor;
  }

  &__products {
    margin-bottom: 172px;
  }

  &__productsList {
    margin-bottom: 80px;
  }

  &__catalogue {
    margin-top: 130px;
  }

  &__notification {
    margin-top: 50px;
    margin-bottom: 150px;
  }

  &__detailPage {
    padding-top: 80px;
  }
}