@import "scss/variables";

.page {
  &__header {
    margin-bottom: 150px;
  }

  &__section {
    margin-bottom: 150px;
  }

  &__title {
    text-align: center;
    font-size: 45px;
    line-height: 67px;
    font-weight: 500;
    margin-bottom: 56px;
    color: $titleColor;
  }

  &__products {
    margin-bottom: 172px;
  }

  &__productsList {
    margin-bottom: 80px;
  }
}