@import "scss/variables";

.page {
  min-height: calc(100vh - 225px - 116px);
  &__section {
    margin-bottom: 150px;
  }

  &__title {
    text-align: center;
    font-size: 45px;
    line-height: 67px;
    font-weight: 500;
    margin-bottom: 56px;
    color: $titleColor;
  }

  &__products {
    margin-bottom: 172px;
  }

  &__productsList {
    margin-bottom: 80px;
  }

  &__catalogue {
    margin-top: 130px;
  }

  &__notification {
    margin-top: 50px;
    margin-bottom: 150px;
  }

  &__detailPage {
    margin-top: 80px;
  }
}