@import "scss/variables";

.Header {
  width: 100%;
  height: 116px;
  background-color: $headerBackground;
  display: flex;
  align-items: center;

  &__pages {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__phone {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 25px;
  }

  &__phoneIcon {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-image: url('../../imgs/phone.svg');
  }

  &__features {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }

  &__iconLink {
    position: relative;
  }

  &__icon {
    bottom: 120%;
    left: 50%;
    transform: translateX(-55%);
    &--favorites {
      background-image: url('../../imgs/heart.svg');
    }
    &--person {
      background-image: url('../../imgs/person.svg');
    }
    &--cart {
      background-image: url('../../imgs/cart.svg');
    }
  }
}