@import "scss/variables";
@import "scss/mixins";

.Header {
  width: 100%;
  height: 116px;
  background-color: $headerBackground;
  @include flex-center;

  &__pages {
    @include flex-center-around;
  }

  &__phone {
    position: relative;
    @include flex-center;
    padding-left: 25px;
  }

  &__phoneIcon {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-image: url('../../imgs/phone.svg');
  }

  &__features {
    @include flex-center-around;
  }

  &__iconLink {
    @include flex-center-center;
    flex-direction: column;
    gap: 5px;
    position: relative;
  }

  &__icon {
    position: static;
    &--favorites {
      background-image: url('../../imgs/heart.svg');
    }
    &--person {
      background-image: url('../../imgs/person.svg');
    }
    &--cart {
      background-image: url('../../imgs/cart.svg');
    }
  }

  &__countItems {
    position: absolute;
    @include fz14-lh17-fw400;
    top: -15%;
    right: -20%;

    &--fav {
      right: 15%;
    }
  }
}