@import "../../scss/variables";

.DetailPage {
  &__img {
    width: 100%;
    border-radius: 8px;
  }

  &__title {
    font-weight: 500;
    font-size: 45px;
    line-height: 67px;
    color: $titleColor;
    font-family: 'Space Grotesk', sans-serif;
    margin-bottom: 48px;
  }

  &__perfectTitle {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
  }

  &__perfectFor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }

  &__buttons {
    display: flex;
    gap: 24px;
  }

  &__button {
    width: 186px;
    height: 38px;
    background-color: $headerBackground;
    color: $titleColor;
    font-size: 16px;
    border-radius: 8px;

    &:hover {
      color: #fff;
      background-color: #7A2927;
    }
  }

  &__buyButtons {
    display: flex;
    align-items: center;
    gap: 52px;
    margin-bottom: 40px;
  }

  &__buyButton {
    width: 397px;
    height: 70px;
  }

  &__favButton {
    position: relative;
    width: 35px;
    height: 35px;
  }

  &__line {
    border-bottom: 1px solid $line;
    margin-bottom: 36px;
  }

  &__pricesDesc {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__priceDesc {
    display: flex;
    justify-content: space-between;
  }

  &__price {
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    font-family: 'Space Grotesk', sans-serif;
  }

  &__bottles {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-top: -10px;
    margin-bottom: 44px;
  }

  &__descBlocks {
    display: flex;
    flex-direction: column;
    gap: 44px;
    margin-bottom: 83px;
  }

  &__descBlock {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 24px;
  }

  &__descTitleValue {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  &__descTitle {
    font-size: 30px;
    line-height: 45px;
    font-weight: 500;
  }

  &__descValue {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
  }
}