@import "scss/variables";

.CheckboxField {
  &__filterTitle {
    margin-bottom: 16px;
  }

  &__values {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__label {
    cursor: pointer;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 10px;
    align-items: center;
  }

  &__input {
    cursor: pointer;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid $logoColor;
    display: grid;
    place-content: center;

    &::before {
      content: "";
      width: 20px;
      height: 20px;
      background-color: $logoColor;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
    }

    &:checked::before {
      transform: scale(1);
    }

    &[type="radio"] {
      border-radius: 50%;

      &::before {
        border-radius: 50%;
      }
    }
  }
}