$headerBackground:#E9A9A4;
$logoColor: #0C0C0C;
$borderColor: #6C6C6C;
$placeholderColor: #A0A0A0;
$linkColor: #423F3E;
$backgroundNav: #EAEAEA;
$backgroundCard: #E7E6E6;
$buttonBack: #7A2927;
$buttonColor: #fff;
$bodyBackground: #F5F5F5;
$titleColor: #010101;
$loader-animation: 1.2s;
$loader-border: #ddd;
$loader-border_left: #000;
$line: #9D9D9D;

