@import 'scss/variables';
@import 'scss/mixins';

.Nav {
  width: 100%;
  height: 53px;
  background-color: $backgroundNav;

  &__links {
    @include flex-center-around;
    height: 53px;
  }

  &__link {
    font-size: 25px;
  }
}