@import "scss/variables";
@import "scss/mixins";

.Contacts {
  &__title {
    margin-bottom: 20px;
    @include fz45-lh54-fw500-grotesk
  }

  &__text {
    @include fz25-lh37-fw400;
    text-align: center;
    margin-bottom: 80px;
  }

  &__map {
    width: 100%;
    height: 521px;
  }

  &__iframe {
    border: none;
  }

  &__city {
    @include fz35-lh52-fw700;
  }

  &__info {
    margin-bottom: 100px;
  }

  &__addresses {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 72px;
  }

  &__addressTitle {
    @include fz30-lh36-fw500;
    margin-bottom: 8px;
  }

  &__addressData {
    @include fz18-lh27-fw400;
    color: $linkColor;
    text-decoration: none;
    margin-bottom: 4px;
  }

  &__hours {
    margin-top: 72px;
  }

  &__hoursTitle {
    @include fz35-lh52-fw700;
    margin-bottom: 21px;
  }

  &__table {
    display: flex;
    gap: 24px;
  }

  &__days {
    display: flex;
    gap: 12px;
    flex-direction: column;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__day {
    @include fz18-lh27-fw700;
  }

  &__time {
    @include fz18-lh27-fw400;
  }
}